<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
                <h1 class="text-3xl text-black pb-6">Emmargement</h1>
                <div class="w-90 ">
                    <form method="get" th:action="@{/admin/emmargement}"  class="p-10 bg-white rounded shadow-xl">
                        <div  class="inline-flex  w-full justify-center">
                            <label for="date1" class="block text-sm text-gray-600">Date :</label>
                            <input type="date" th:value="${date}" name="date" id="date1"  class="w-40 px-5 py-1 text-gray-700 bg-gray-200 rounded">
                            <button type="submit" class="px-3 py-1 ml-10 text-white bg-blue-600 border border-1 border-blue-600 rounded hover:bg-white hover:text-blue-600">Rechercher</button>
                        </div>
                    </form>
                    <form method="get" th:action="@{/admin/emmargement}"  class="p-10 bg-white rounded shadow-xl">
                        <div  class="inline-flex  w-full justify-center">
                            <label for="date1" class="block text-sm text-gray-600">Session cours:</label>

                            <input type="text" th:value="${module}" name="module" id="cours"  class="w-40 px-5 py-1 text-gray-700 bg-gray-200 rounded">
                            <button type="submit" class="px-3 py-1 ml-10 text-white bg-blue-600 border border-1 border-blue-600 rounded hover:bg-white hover:text-blue-600">Rechercher</button>
                        </div>
                    </form>
                </div>
                <div class="w-full mt-6">
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-list mr-3"></i> Liste Emmargement
                    </p>
                    <div class="bg-white overflow-auto">
                        <table class="min-w-full bg-white">
                            <thead class="bg-gray-800 text-white">
                            <tr>
                                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Date</th>
                                <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Emmargement</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Etudiant</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Session Cours</th>
                                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                            </tr>
                            </thead>
                            <tbody class="text-gray-700">
                            <tr th:each="em:${emmargements}">
                                <td class="w-1/3 text-left py-3 px-4" th:text="${em.date}">

                                </td>
                                <td class="w-1/3 text-left py-3 px-4"  >
                                     <span th:if="${em.present}" th:text="Present">
                                              <!-- Contenu à afficher si la condition est vraie -->
                                    </span>
                                    <span th:unless="${em.present}" th:text="Abscent">
                                        <!-- Contenu à afficher si la condition est fausse -->
                                    </span>
                                </td>
                                <td class="text-left py-3 px-4" th:text="${em.etudiant.nom}"></td>
                                <td class="text-left py-3 px-4" th:text="${em.sessionCours.getCours().getModule().getLibelle()}"></td>
                                <td class="mt-5">
                                    <a th:href="@{/admin/valider/abscence/{id}(id=${em.id})}" class="rounded-md border-2 border-orange-600 mt-3 px-6 py-1 font-medium text-orange-600 transition-colors hover:bg-blue-600 hover:text-white">Valider</a>

                                    <a th:href="@{/admin/annuler/abscence/{id}(id=${em.id})}" class="rounded-md border-2 border-blue-600  px-6 py-1 mt-6 font-medium text-blue-600 transition-colors hover:bg-red-600 hover:text-white">Annuler</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <ol class="flex justify-center gap-1 text-xs font-medium" th:if="${nbrePage>1}">
                    <li th:if="${currentPage>0}">
                        <a th:href="@{/emmargement(page=${currentPage -1})}"
                           class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180 hover:bg-gray-300">
                            <span class="sr-only">Prev Page</span>
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-3 w-3"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                        clip-rule="evenodd"
                                />
                            </svg>
                        </a>
                    </li>

                    <li th:each="p,status:${pages}">
                        <a th:text="${status.index +1}"
                           th:class="${status.index==currentPage? 'block h-8 w-8 rounded border text-center leading-8 border-blue-600 bg-blue-600 text-white' : 'block h-8 w-8 rounded border text-center leading-8 border-gray-100 bg-white text-gray-900 hover:bg-gray-300'}"
                           th:href="@{emmargement(page=${status.index})}"
                        ></a>
                    </li>

                    <!--li class="block h-8 w-8 rounded border-blue-600 bg-blue-600 text-center leading-8 text-white">
                        2
                    </li-->

                    <li th:if="${currentPage<nbrePage -1}">
                        <a
                                th:href="@{/emmargement(page=${currentPage+1})}"
                                class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180 hover:bg-gray-300"
                        >
                            <span class="sr-only">Next Page</span>
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-3 w-3"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                            >
                                <path
                                        fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"
                                />
                            </svg>
                        </a>
                    </li>
                </ol>
                </main>
            </div>
        </div>
        </div>
</body>
</html>